graph {
	canvas-color: white;
	fill-color: grey;
	padding: 60px;
  }
node {
	shape: circle;
	size: 10px;
	fill-mode: plain;
	fill-color: blue;
	stroke-mode: plain;
	stroke-color: black;
	text-size: 10px;
	size-mode: dyn-size;
	text-alignment: under;
	text-offset: 2px;
	size-mode: fit;
  }
node.marked {
  fill-color: yellow;
  } 
node:clicked {
	fill-color: red;
  }  
node:selected {
	stroke-mode: plain;
	stroke-color: green;
  }
node#A {
	fill-color: blue;
  }
edge {
  shape: line;
  size: 5px;
  fill-color: black;
  fill-mode: plain;
  arrow-shape: arrow;
  arrow-size: 20px, 15px;
  }
