graph {
	canvas-color: white;
	fill-color: grey;
  }
node {
	shape: circle;
	size: 20px;
	fill-mode: plain;
	fill-color: blue;
	stroke-mode: plain;
	stroke-color: black;
	text-size: 20px;
	size-mode: dyn-size;
  text-color: black;
  text-background-color: white;
	text-alignment: under;
	text-offset: 4px;
	size-mode: fit;
  }
node.marked {
  fill-color: yellow;
  }
node.plus {
	shape: diamond;
  text-background-color: grey;
  text-color: red;
  }
node:clicked {
	fill-color: red;
  }  
node:selected {
	stroke-mode: plain;
	stroke-color: green;
  }
node#A {
	fill-color: blue;
  }
edge {
  shape: line;
  size: 1px;
  fill-color: black;
  fill-mode: plain;
  arrow-shape: arrow;
  arrow-size: 10px, 5px;
  }
